<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- Bootstrap Stylesheet -->
    <link type="text/css" rel="stylesheet" href="<%= BASE_URL %>admin-template/get-started/css/bootstrap.min.css" />
    <!-- Nifty Stylesheet -->
    <link type="text/css" rel="stylesheet" href="<%= BASE_URL %>admin-template/get-started/css/nifty.min.css"/>
    <!-- Premium Icons -->
    <link type="text/css" rel="stylesheet" href="<%= BASE_URL %>admin-template/get-started/premium/icon-sets/icons/line-icons/premium-line-icons.min.css"/>
    <link type="text/css" rel="stylesheet" href="<%= BASE_URL %>admin-template/get-started/premium/icon-sets/icons/solid-icons/premium-solid-icons.min.css"/>
    <!-- Datatables -->
    <!-- <link href="<%= BASE_URL %>admin-template/demo/plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="<%= BASE_URL %>admin-template/demo/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css" rel="stylesheet"> -->
    <!-- Open Sans Font -->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin"/>

    <title><%= htmlWebpackPlugin.options.title %></title>

    <!--jQuery-->
    <script src="<%= BASE_URL %>admin-template/get-started/js/jquery.min.js"></script>
    <!--BootstrapJS-->
    <script src="<%= BASE_URL %>admin-template/get-started/js/bootstrap.min.js"></script>
    <!--Nifty Admin-->
    <script src="<%= BASE_URL %>admin-template/get-started/js/nifty.min.js"></script>
    <!-- Datatables -->
    <!-- <script src="<%= BASE_URL %>admin-template/demo/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="<%= BASE_URL %>admin-template/demo/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="<%= BASE_URL %>admin-template/demo/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script> -->

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

  </body>
</html>
